
@import url('https://fonts.maateen.me/adorsho-lipi/font.css');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--black) !important;
    font-family: 'adorshoLipi', Arial, sans-serif !important;
    overflow-x:visible !important;
}

:root {
    --primary: #0984e3;
    --secondary: #ff669b;
    --white: #ffffff;
    --black:#0a1929;;
}
p{
    font-size: 15px;
    color:var(--white);
}
h1{
    color: var(--secondary) !important;
    font-weight: 700 !important;
}
/* =========== Navbar =========== */

.navbar-brand{
    width: 112px;
}
.navbar-items li{
    margin-right: 10px;
    position: relative;
}
.navbar-items li a{
    color: var(--secondary);
    position: relative;
}
.navbar-items li a:hover{
    color:var(--primary);
}

.navbar-items li::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    border-radius: 5px;
    background: var(--primary);
    transition: 0.4s;
}

.navbar-items li:hover::before
{
    height:100%;
}
.navbar-items li:hover a{
    color:var(--white) !important;
}


/* end of js classes */
.navbar-items li::after{
    position: absolute;
    content: '';
    width:5px;
    height:5px;
    border-radius: 50%;
    left:50%;
    bottom:-30px;
    background: var(--primary);
    box-shadow: 0 0 2px var(--primary),
                0 0 3px var(--primary),
                0 0 5px var(--primary);
    opacity: 0;
    transition: 0.3s;
}

.navbar-items li:hover::after{
    opacity: 1;
    bottom:-15px;
}

/* =========== main header area =========== */

.main-header{
    background-image: linear-gradient(#110a0a96,#110a0a96),url(../img/header-bg.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: zoomAnimation 40s ease-in-out infinite; 
    animation-delay: 2s;
    padding: 80px;
}
@keyframes zoomAnimation {
    0% {
      background-size:cover;
      background-position: center;
    }
    50% {
      background-size: 150% 150%;
      background-position: right bottom; /* Adjust the direction */
    }
    75% {
      background-size: 200% 200%; /* Adjust the zoom level */
      background-position: right bottom /* Adjust the direction */
    }
    100% {
      background-size: cover; /* Adjust the zoom level */
      background-position: top left/* Adjust the direction */
    }
    
  }

@media screen and (min-width:1400px) {
    .header-content{
        margin-top: 150px;
        padding-bottom: 200px;
    }
}
.header-content h2
{
    font-weight: 600;
    color:var(--white);
    margin-bottom: 30px;
    word-spacing: 5px;
    font-size: 40px;
    text-shadow:
    1px 1px 0px #c4dbe2,
    2px 2px 0px #b4d1d9,
    2px 2px 3px #ffffffe6;
}
@media only screen and  (max-width:560px){
    .header-content h2{
        font-size: 25px;
    }
}
.header-content a{
    display: inline-block;
    color:var(--white);
    text-decoration: none;
    background: var(--secondary);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
    margin-top: 50px !important; 
}
@media  only screen and (max-width:404px) {
    .header-content a {
        display: block;
        text-align: center;
        width: 100%;
    }
    .header-content a{
        margin-top:25px !important;
    }
}
.header-content a:hover{
    background:var(--black);
}
.header-content p strong{
    color: var(--secondary);
}

/* =========== counter area =========== */
.counter-area{
    padding: 50px 0 80px;
    background-image: url('../img/bg.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.counter-area p{
    color: var(--black);
    font-size: 16px;
}

.element p{
    margin-bottom: 0 !important;
}
.element{
    background: var(--secondary);
    padding: 40px 0;
    border-radius: 10px;
    position:relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.3s;
}
.element span{
    font-size: 25px;
    color: var(--white);
}
.element p{
    margin-top: 10px;
    color: var(--white);
}
.element::before{
    position: absolute;
    content: '';
    width:0;
    height:0;
    background: var(--primary);
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: -1;
    transition: 0.3s;
}

.element:hover::before{
    width:100%;
    height: 100%;
   
}
/* =========== slider area =========== */
 .choose-us h1{
    animation: flick 1.5s linear infinite;
}
@keyframes flick {
  0%{
    transform: rotateY(0deg);
  }
  25%{
    transform: rotateY(360deg);
  }
  26%{
    transform: rotateY(0deg);
  }

   
}
 .choose-us p{
    color: var(--white);
    margin-bottom: 60px;
    font-size: 16px;
}

 .choose-us-content, .title_video{
    margin-top:50px !important;
}
 .choose-us-content ul li{
    list-style: none;
    margin-bottom: 10px;
    color: var(--white);
}

.choose-us-content ul li span{
    font-weight: 700;
    color:var(--primary);
}

.title_video iframe{
    height: 306px !important;
}
/* portfolio section */

.portfolio_section p{
    color: var(--white);
    margin-bottom: 60px;
    font-size: 16px;
}
.portfolio_section .navigator{
    background: var(--primary);
    padding: 6px 20px;
    border-radius: 2px;
    color: var(--white);
    cursor: pointer;
}
.portfolio_section .navigator:hover{
    background-color: #0a6bb5;
}
.dropdown{
    position:relative;
}

.dropdown .dropdown-items{
    position:absolute;
    z-index: 1;
    left: 10px;
    top: 50px;
    background: var(--primary);
    background: var(--black);
    border-radius: 5px;
    transition: 0.3s;
    width: 120px;
    opacity: 0;
    pointer-events: none;
}
.dropdown-items li{
    color: var(--white) !important;
    text-align:center;
    font-size:14px;
    padding: 3px 0;
    cursor: pointer;
}
.dropdown-items li:hover{
    background: var(--secondary);

}
.fa-angle-down{
    transition: 0.3s;
    color:var(--white);
    margin-left: 5px;
}
/* js class */
.showDropdown{
    opacity: 1 !important;
    pointer-events: visible !important;
}
.rotateAngle{
    transform: rotate(180deg) !important;
    transition: 0.3s;
}
.shape {
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 100px;
    transition: all 1s ease-in-out;
    width: 100px;
    z-index: -999;
    top: -100px;
    right: 0;
  }
  
  @keyframes morph {
    0% {
        border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
        background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    } 
    
    50% {
        border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
        background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    }
    
    100% {
      border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
      background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    } 
  }

  .item{
    border-radius: 5px;
  }
