
@import url('https://fonts.maateen.me/adorsho-lipi/font.css');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--white) !important;
    font-family: 'adorshoLipi', Arial, sans-serif !important;
}

:root {
    --primary: #0984e3;
    --secondary: #ff669b;
    --white: #ffffff;
    --black:#08294d;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background: gainsboro;
}
::-webkit-scrollbar-thumb{
    background: var(--secondary);
}
p{
    font-size: 15px;
    color:var(--white);
}
h1{
    color: var(--secondary) !important;
    font-weight: 700 !important;
}


/* top header (contact area) */
.top-header{
    background:var(--black);
    padding: 8px 0;
    position: relative;
    transition: 0.3s ease-out;
}
.top-header .close-top-bar i{
    position:absolute;
    top: 10px;
    right: 15px;
    color: var(--secondary);
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    background: var(--white);
    padding: 3px 6px;
    border-radius: 2px;
}
.top-header .content-box .social-icons a i{
    background: var(--primary);
    color: white;
    padding: 7px;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px var(--primary);
    transition: 0.3s;
    cursor:pointer;
    display: inline-block;
}
.top-header .content-box .social-icons a{
    display: inline-block;
    text-decoration: none;
}
.top-header .content-box .social-icons a i:hover{
    background: var(--white);
    box-shadow: 0 0 5px rgba(199, 198, 198, 0.979);
}
.top-header .content-box .social-icons .fa-facebook:hover{
    color: #2e5bba !important;
}
.top-header .content-box .social-icons .fa-youtube:hover{
    color: red !important;
}
.top-header .content-box .social-icons .fa-whatsapp:hover{
    color: #25d366 !important;
}


.top-header p{
    margin: 0;
}
.top-header p span{
    color: var(--primary);
    margin-right: 5px;
}
.top-header p a{
    color: var(--secondary);
    text-decoration: none;
}
/* =========== Navbar =========== */
.navbar-brand{
    width: 112px;
}
.navbar-toggler{
    background: white !important;
}
.navbar-items li{
    margin-right: 10px;
    position: relative;
}
.navbar-items li a{
    color: var(--secondary);
    position: relative;
}
.navbar-items li a:hover{
    color:var(--primary);
}

.navbar-items li::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    border-radius: 5px;
    background: var(--primary);
    transition: 0.4s;
}

.navbar-items li:hover::before
{
    height:100%;
}
.navbar-items li:hover a{
    color:var(--white) !important;
}


/* end of js classes */
.navbar-items li::after{
    position: absolute;
    content: '';
    width:5px;
    height:5px;
    border-radius: 50%;
    left:50%;
    bottom:-30px;
    background: var(--primary);
    box-shadow: 0 0 2px var(--primary),
                0 0 3px var(--primary),
                0 0 5px var(--primary);
    opacity: 0;
    transition: 0.3s;
}

.navbar-items li:hover::after{
    opacity: 1;
    bottom:-15px;
}
.activeNav{
    color: var(--black) !important;
}
@media only screen and (max-width:992px){
    .navbar-items li::before{
        display:none;
    }
    .navbar-items li::after{
        width:7px;
        height:7px;
        left:50%;
        top:19px;
    }
}
/* =========== main header area =========== */

.main-header{
    background-image: linear-gradient(#110a0a96,#110a0a96),url(../img/header-bg.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: zoomAnimation 40s ease-in-out infinite; 
    animation-delay: 2s;
    padding: 100px 0;
}
@keyframes zoomAnimation {
    0% {
      background-size:cover;
      background-position: center;
    }
    50% {
      background-size: 150% 150%;
      background-position: right bottom; /* Adjust the direction */
    }
    75% {
      background-size: 200% 200%; /* Adjust the zoom level */
      background-position: right bottom /* Adjust the direction */
    }
    100% {
      background-size: cover; /* Adjust the zoom level */
      background-position: top left/* Adjust the direction */
    }
    
  }

@media screen and (min-width:1400px) {
    .header-content{
        margin-top: 150px;
        padding-bottom: 200px;
    }
}
.header-content h2
{
    font-weight: 600;
    color:var(--white);
    margin-bottom: 30px;
    word-spacing: 5px;
    font-size: 40px;
    text-shadow:
    1px 1px 0px #c4dbe2,
    2px 2px 0px #b4d1d9,
    2px 2px 2px #ffffffe6;
}
@media only screen and  (max-width:560px){
    .header-content h2{
        font-size: 25px;
    }
}
.header-content a{
    display: inline-block;
    color:var(--white);
    text-decoration: none;
    background: var(--secondary);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
    margin-top: 50px !important; 
}
@media  only screen and (max-width:404px) {
    .header-content a {
        display: block;
        text-align: center;
        width: 100%;
    }
    .header-content a{
        margin-top:25px !important;
    }
}
.header-content a:hover{
    background:var(--black);
}
.header-content p strong{
    color: var(--secondary);
}

/* =========== counter area =========== */
.counter-area{
    padding: 50px 0 80px;
    background-image: url('../img/bg.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.counter-area p{
    color: var(--black);
    font-size: 16px;
}

.element p{
    margin-bottom: 0 !important;
}
.element{
    background: var(--secondary);
    padding: 40px 0;
    border-radius: 10px;
    position:relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.3s;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}
.element span{
    font-size: 25px;
    color: var(--white);
}
.element p{
    margin-top: 10px;
    color: var(--white);
}
.element:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* services area */
.services-area{
    padding: 50px 0;
    /* background-image: linear-gradient(to right, #ffffff, #0985e33b ) */
}
.services-area{
    padding: 50px 0;
}
.services-area .service-inner .header img{
    overflow: hidden;
}

.services-area .service-box .service-inner{
    background-image: linear-gradient(to right, #0985e334, #ff669c9a );
    border-radius: 5px;
    box-shadow: #00000059 0px 3px 8px;
    transition: 0.3s;
    position: relative;
}

.service-inner .overlay{
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    padding: 20px 0;
    transform: translate(-50%, -50%);
    background: var(--black);
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: 0.5s;
    overflow: hidden;
}
.service-inner .overlay h5{
    margin-bottom: 50px;
    color: var(--primary);
    font-weight: 700;

}
.service-inner .overlay ul{
    text-align: left;
    list-style: none;
    margin-left: 0 !important;
    padding-left: 15px;
    line-height: 2em;
    color: var(--white);
}
.services-area .service-inner:hover .overlay{
    opacity: 1;
    z-index:1;
    height: 100%
}
.services-area .service-inner:hover{
    
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.services-area .service-inner .footer{
    padding: 30px 0;
}
.services-area .service-inner .footer h6{
    font-size: 25px;
    color: var(--black);
    margin-bottom: 15px;
}
.services-area .service-inner .footer h4{
    font-size: 20px;
    color: var(--white);
    background: var(--secondary);
    display: inline-block;
    padding: 10px 14px;
    border-radius: 5px;
}
.services-area .service-inner .footer{
    padding: 30px 0;
}

/* =========== choose us area =========== */
 .choose-us h1{
    animation: flick 1.5s linear infinite;
}
@keyframes flick {
  0%{
    transform: rotateY(0deg);
  }
  25%{
    transform: rotateY(360deg);
  }
  26%{
    transform: rotateY(0deg);
  }

   
}
 .choose-us p{
    color: var(--black);
    margin-bottom: 60px;
    font-size: 16px;
}

 .choose-us-content, .title_video{
    margin-top:50px !important;
}
 .choose-us-content ul li{
    list-style: none;
    margin-bottom: 10px;
    color: var(--black);
}

.choose-us-content ul li span{
    font-weight: 700;
    color:var(--primary);
}

.title_video iframe{
    height: 306px !important;
}
/* portfolio section */

.portfolio_section p{
    color: var(--black);
    margin-bottom: 60px;
    font-size: 16px;
}
.portfolio_section .navigator{
    background-image: linear-gradient(to left,  #0984e3,#ff669b);
    padding: 6px 20px;
    border-radius: 2px;
    color: var(--white);
    cursor: pointer;
    transition: 0.3s;
}
.btnBackground{
    background: var(--black) !important;
    animation: smoothBg 2.5s ease-in-out infinite;
}

@keyframes smoothBg {
    50%{
        opacity: 0.8;
    }
}

.dropdown{
    position:relative;
}

.dropdown .dropdown-items{
    position:absolute;
    z-index: 1;
    left: 10px;
    top: 50px;
    background: var(--primary);
    background: var(--black);
    border-radius: 5px;
    transition: 0.3s;
    width: 120px;
    opacity: 0;
    pointer-events: none;
}
.dropdown-items li{
    color: var(--white) !important;
    text-align:center;
    font-size:14px;
    padding: 3px 0;
    cursor: pointer;
}
.dropdown-items li:hover{
    background: var(--secondary);

}
.fa-angle-down{
    transition: 0.3s;
    color:var(--white);
    margin-left: 5px;
}
/* js class */
.showDropdown{
    opacity: 1 !important;
    pointer-events: visible !important;
}
.rotateAngle{
    transform: rotate(180deg) !important;
    transition: 0.3s;
}


/* portfolio thumbnail box */

.thumbnail-box, .design-thumbnail-box{
    overflow:hidden;
    border-radius: 5px;
}
.thumbnail-box:hover .image, .design-thumbnail-box:hover .image{
    transform:scale(1.2);
    cursor:pointer;
}
.image{
    border-radius: 5px;
    transition: 0.3s;
    object-fit: cover;
}


/* modal box design */
.modal-box{
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background:var(--black);
    transition: 0.3s;
    z-index: -1;
}

.modal-inner{
    background: white;
    transition: 0.3s;
}
.modal-header a i{
    font-size: 18px;
    animation: download 2s linear infinite;
    transition:0.3s;
    color: var(--primary);
}
@keyframes download {
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-3px);
    }
    75%{
        transform:translateY(0);
    }
    100%{
        transform:translateY(-3);
    }
}
.modal-header span i{
    font-size: 26px;
    color: var(--secondary);
    transition: 0.2s;
}
.modal-header span i:hover{
    transform: scale(1.2) rotate(180deg);
    cursor:pointer;
}
.modal-header .image-number{
    font-weight: 600;
    margin-left: 10px;
    color: var(--secondary)
}
.modal-image i{
    top: 45%;
    color:white;
    background: #f96a9ca2;
    padding: 5px;
    transition: 0.3s;
    font-size: 26px;
}

.modal-image i:hover{
    background: var(--secondary);
}
.modal-image .prev{
    left:5px;
}
.modal-image .next{
    right:5px;
}
#modal-image{
    width: 100%;
}

/* tooltip design for download button and close button */
#imgDownload h5{
    position: relative;
    color:var(--white);
    font-size: 14px;
    left: -18px;
    top:-33px;
    background: var(--secondary);
    padding: 3px;
    z-index: 1;
    border-radius: 2px;
    display: none;
    pointer-events: none;
}

#imgDownload::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border: 5px solid var(--secondary);
    top: -18px;
    left: 5px;
    transform: rotate(45deg);
    pointer-events: none;
    display: none;
}

#imgDownload:hover h5{
    display: block !important;
}
#imgDownload:hover::after{
    display: block !important;
}

.close-modal h5{
    position: relative;
    color:var(--white);
    font-size: 16px;
    left: 0px;
    top:-35px;
    background: var(--secondary);
    padding: 3px;
    z-index: 99;
    border-radius: 2px;
    display: none;
    pointer-events: none;

}
.close-modal h5::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border: 5px solid var(--secondary);
    background: var(--secondary);
    bottom: -3px;
    left: 15px;
    transform: rotate(45deg);
    pointer-events: none;
    z-index: -1;
    display: none;
}
.close-modal:hover h5{
    display: block !important;
}
.close-modal:hover h5::after{
    display: block !important;
}

.image-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000b1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: none;
}

.loader .spin{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: var(--secondary);
    border-radius: 50%;
    animation: imageAnimate linear 1.2s infinite;

}

.spin:nth-child(2) {
    animation-delay: 0.2s; /* Delay the animation for the second dot */
}

.spin:nth-child(3) {
    animation-delay: 0.8s; /* Delay the animation for the third dot */
}

@keyframes imageAnimate {
    0%{
        opacity: 1;
    }   
    50%{
        opacity: 0.1;
    }   
    100%{
        opacity: 1;
    }   
}

.preloader{
    width: 100% !important;
    height: 100% !important;
    background: #000000;
    background-image: url(../img/preloader.gif);
    background-size: 400px;
    background-position: center;
    background-repeat: no-repeat;
    z-index:99;
}

/* video gallery */
.video_gallery{
    position: relative;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    display: none;
}
.video_gallery .loading_animation{
    opacity: 1;
    z-index: 1;
    position: absolute; 
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.video_gallery .video{
    overflow: hidden;

}
.video_gallery .video video{
    transition: 0.3s;
    cursor:pointer;
    border-radius: 5px;
}
.video_gallery .video video:hover{
    transform: scale(1.1);
}
/* video modal */
.video-modal{
    display: flex;
    position:fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #000000e3;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}

.show_content{
    opacity: 1 !important;
    z-index: 99 !important;
    pointer-events: fill !important;
}
.video-container{
    position: relative;
}
.video-container i{
    position: absolute;
    top: 10px; right: 15px;
    color: var(--secondary);
    font-size: 30px;
    transition: 0.2s;
    cursor: pointer;
    z-index: 100;
}
.video-container i:hover{
    transform: rotate(90deg);
}
.video-container video{
    border-radius: 5px;
    box-shadow: 0 0 2px 1px var(--primary);
    width: 267px;
    height: 476px;
    /* color:rgba(9, 133, 227, 0.158); */
}


/* design section */
.design-section{
    margin-top: 100px !important;
    background-image:linear-gradient(rgba(9, 133, 227, 0.158),rgba(9, 133, 227, 0.158)),url(../img/design-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.design-section p{
    color: var(--black);
    margin-top: 15px;
}
.design-navigator-box{
    flex-wrap: wrap !important;
    transition:all 1s !important;
}

.design-navigator-box .design_navigator{
    background: var(--secondary);
    padding: 6px 20px;
    border-radius: 2px;
    color: var(--white);
    cursor: pointer;
    transition:all 1s !important;
    margin-top: 15px;
    margin-right: 10px;
    list-style: none;
    display: inline-block;

}
.design-navigator-box .design_navigator:hover{
    background-image: linear-gradient(to right,  #0984e3,#ff669b);
}

.openDesignPage a{
    text-decoration: none;
    color: var(--white);
    background: var(--primary);
    display: inline-block;
    padding: 8px 14px;
    border-radius: 5px;
    transition: all 0.3s;
}

.openDesignPage a i{
    margin-left: 8px;
    transition: all 0.3s;
}
.openDesignPage a:hover{
    background: #2e5bba;
}
.openDesignPage a:hover i{
    transform: translateX(5px);
}